1.  Python Program to exchange the values of two numbers without using a temporary variable.

In [27]:
a, b = 10, 20

print(f"Before swapping: a = {a}, b={b}")

a = a + b
b = a - b
a = a - b

#Alternate approach
# a = a ^ b
# b = a ^ b
# a = a ^ b

print(f"After swapping:  a = {a}, b={b}")

Before swapping: a = 10, b=20
After swapping:  a = 20, b=10

2. Write a python code to replace all  "a"  with 2 for the given variable
s = 'abc12321cba'

In [2]:
s = 'abc12321cba'
s.replace('a','2')

'2bc12321cb2'

3. Python code for to  remove first character in string?

In [3]:
string = "guvi"
string1 = string[1:]
string1

'uvi'

4. Concatenate two strings  
First Input : "hello" 
Second Input : "guvi"
desired output :   "hello guvi"

In [2]:
str1 = input("Enter your first input: ")
str2 = input("Enter your second input: ")
str_final = str1 + " " + str2
str_final

Enter your first input: hello
Enter your second input: guvi

'hello guvi'

5. Repeat the string "hello guvi" 3 times 
desired output :  'hello guvi hello guvi hello guvi '

In [28]:
string = "hello guvi "
string_final = string * 3
string_final

'hello guvi hello guvi hello guvi '

6. Create 3 variables a1,a2,a3. Assign the same value " 4 " to all the variables in a single line of code.

In [31]:
a1 =  a2 = a3 = '4'
print(a1,a2,a3)

4 4 4

7. Calculate BMI of a person using the height and weight.
BMI = weight / (height **2)

In [33]:
weight = 66
height = 171
BMI = weight / (height **2)
# BMI_value_range_100 = BMI * 100
# BMI_value_range_100
print("BMI is",BMI)

BMI is 0.0022571047501795424

8.Write a python program to calculate the area of circle.

In [34]:
import math
radius = 7
area_of_circle = math.pi * (radius ** 2)
area_of_circle
print("Area of the circle is",area_of_circle)

Area of the circle is 153.93804002589985

9.Calculate the simple interest
simple_interest = p * n * r /100

In [35]:
p = 10000
n = 4
r = 0.1
simple_interest = p * n * r /100
print("Simple Interest is" ,simple_interest)

Simple Interest is 40.0

10.Python code to calculate the square root of the given number(run time variable)

In [36]:
import math
a = 100
b = math.sqrt(a)
print(f"Value of square root of {a} is {b}")

Value of square root of 100 is 10.0